:root{
    --background-color: #2C2C2C;
    --additional-color: #1A1A1A;
    --support-color: #444444;
    --accent-color: #A8DADC;
    --dash-border-color: #B39CD0;
    --text-color: #E4E4E4;
    --contrast-shadow: white;
    --shadow: #2C2C2C;
    --margin: 0.8em;
    --padding-main: 1rem;
    --padding-mini: 0.3rem;
    --radius: 0.8rem;
    --list-image-size: 40px;
    --on-page-image-size: 140px;
    --animation-duration: 50ms;
}

body{
    user-select: none;
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--background-color);

    margin: 0;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--additional-color);
    text-shadow: 0.5px 0.5px 0.5px var(--shadow);
    top: 0;
    position: sticky;
}

a {
    color: var(--accent-color);
    transition: var(--animation-duration);
}

a:link{
    color: var(--accent-color);
}

a:active{
    color: var(--accent-color);
}

ul {
    list-style: none;
    padding: 0;
}

input{
    background-color: var(--additional-color);
    color: var(--accent-color);
    border: 0px;
    padding: var(--padding-mini);
}

input[type="file"]{
    padding: var(--padding-main);
    border-radius: var(--radius);
    background-color: transparent;
    border: 2px var(--accent-color) dashed;
    transition: var(--animation-duration);
}

input[type="file"]:hover{
    color: var(--text-color);
    border: 2px var(--text-color) dashed;

    &::file-selector-button{
        background-color: var(--additional-color);
        color: var(--text-color);
    }
}

input[type="file"]::file-selector-button{
    background-color: var(--accent-color);
    border: 0px;
    color: var(--support-color);
    padding: calc(var(--padding-main)/2);
    border-radius: calc(var(--radius)/3 * 2);
    margin-right: var(--margin);
}

input[type="file"]::file-selector-button:hover{
    background-color: var(--background-color);
}

input[type="file"]::file-selector-button:active{
    background-color: var(--additional-color);
}

header a{
    padding: var(--padding-main);
    border-radius: var(--radius);
    text-decoration: none;
}

header div{
    padding: var(--padding-main);
    align-content: center;
}

header a:hover{
    background-color: var(--accent-color);
    color: var(--additional-color);
}

header a:active{
    background-color: var(--accent-color);
    color: var(--additional-color);
    box-shadow: 0px 1px 0px var(--shadow);
    opacity: 80%;
}

header .btn{
    padding: var(--padding-main);
}

.logo{
    font-size: 28px;
    color: var(--accent-color)
}

.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}

#search-btn{
    background-color: var(--additional-color);
    color: var(--text-color);
    transition: 0.3s;
    height: 1.5rem;
    width: 4rem;
}

#search-btn:hover {
    background-color: var(--background-color);
}

#search-btn:active {
    background-color: var(--additional-color);
}

#search, #search-btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

    border: 1px;
    border-radius: var(--radius);
    padding: var(--padding-mini);
}

#search{
    background-color: var(--background-color);
    color: var(--accent-color);
    text-indent: var(--margin);
    width: 600px;
}

#search::placeholder{
    padding: var(--padding-mini);
    color: var(--accent-color);
    opacity: 75%;
}

#filters{
    list-style-type: none;
    width: max-content;
}

#filters li{
    padding: var(--padding-mini) var(--padding-main);
    width: max-content;
    transition: 0.3s;
    animation-timing-function: ease-in-out;
}

#filters li:hover{
    color: var(--accent-color);
    background-color: var(--additional-color);
    border-radius: var(--radius);
}

.list-item-img{
    height: var(--list-image-size) ;
    width: var(--list-image-size) ;
}

.title{
    font-weight: bold;
    font-size: 18px;
}

.block-title{
    font-weight: bold;
    font-size: 24px;
}

.artists, .genres, .likes{
    font-style: italic;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    background-color: var(--background-colors);
}

.main-container, .add-container{
    background-color: var(--background-color);
    align-self: center;
    height: 100%;
}

.container{
    margin-left: var(--margin);
}

.box{
    padding: var(--padding-mini);
    width: 99.5%;
    display: flex;
    align-items: center;
    transition: var(--animation-duration);
    animation-timing-function: ease-in;
}

.box:has(.icon:active){
    background-clip: content-box;
    opacity: 80%;
}

.box:hover .icon{
    color: var(--contrast-shadow);
}

.box > *{
    padding: var(--padding-mini);
}

.box.track{
    justify-content: space-between;
}

.box.track > .left{
    display: flex;
    align-items: center;
}

.box.track > .left > *{
    padding: var(--padding-mini);
}

.box:hover{
    background-color: var(--additional-color);
}

.login-grid{
    background-image: url("http://localhost:3000/public/images/system/login_page_background.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.login-header{
    color: var(--accent-color);
    font-size: 52px;
}

.login-grid > div + div{
    background-color: var(--support-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 200px;
}   


#login-form, #login-form > form{
    display: flex;
    flex-direction: column;
    background-color: var(--support-color);
    align-items: center;
}

#login-form label{
    font-style: italic;
    font-size: 20px;
}

#login-form input{
    border: 1px var(--additional-color) solid;
    padding: calc(var(--padding-mini)/2 * 1.5) ;
}

#login-form *{
    margin: calc(var(--margin)/2);
}

img.profile{
    border-radius: 50%;
}

img.on-page{
    height: var(--on-page-image-size);
    width: var(--on-page-image-size);
    object-fit: cover;
}

.btn{
    background-color: var(--additional-color);
    border: 1px;
    border-radius: var(--radius);
    color: var(--text-color);
    padding: var(--padding-mini);
    transition: var(--animation-duration);
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background-color: var(--support-color);
}

.btn:active{
    background-color: var(--background-color);
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid var(--accent-color);
    white-space: nowrap;
    font-family: sans-serif;
    background: var(--additional-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all var(--animation-duration) ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: var(--support-color);
    opacity: 70;
}

.custom-menu li:has(a){
    display: flex;
    padding: 0px 0px;
}

.custom-menu li a {
    padding: 8px 12px;
}


.hidden{
    display: none;
}

.track-info{
    display: grid;
    grid-template-areas: 
    "img upper"
    "img down"
    "img player";

    grid-template-columns: 1fr 9fr;
}

.track-info > *{
    padding: var(--padding-main);
    margin: 0;
}

.track-info > .upper{
    grid-area: upper;
    display: flex;
    justify-content: space-between;
}

.track-info > .upper > a{
    align-content: center;
}

.track-info > .upper > h3{
    margin: 0;
}

.track-info > .down{
    grid-area: down;
    padding-top: 0;
    padding-bottom: 0;
}

.track-info > .audio-player{
    grid-area: player;
}

.track-info > img{
    grid-area: img;
}

.track-info > .left > *{
    display: flex;

    padding: var(--padding-mini);
    padding-top: 0;
    margin: 0;
}

.track-info > .left > .artists > a{
    padding: var(--padding-mini);
    padding-left: calc(var(--padding-mini) * 2 );
    margin: 0;
}

.track-info > a{
    flex-direction: row;
}

.audio-player{
    padding: var(--padding-mini);
    padding-top: calc(var(--padding-mini) * 2 );
    padding-left: calc(var(--padding-mini) * 2 );
    margin: 0;
}

.center-align{
    align-items: center;
}

.panel{
    display: flex;
    align-items: center;
    background-color: var(--additional-color);
}

.panel > .btn{
    padding: var(--padding-mini);
    margin: var(--margin);
    border: 1px;
    border-radius: var(--radius);
}

.panel > a{
    text-decoration: none;
}

.header{
    color: var(--text-color);
    margin: 0;
    margin-top: var(--margin);
    margin-left: var(--margin);
}

.centered-pop-up{
    display: none;
    position: fixed;
    z-index: 1001;
    top:50%;  
    left:50%;  
    margin:-150px 0 0 -200px;  
}

.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

#edit-track, #add-track-form {
    color: var(--accent-color);
    background-color: var(--additional-color);
    border: 2px var(--main-color);
    border-radius: var(--radius);
    padding: var(--padding-main);
}

#edit-track > .btn, #add-track-form > .btn{
    padding: var(--padding-mini);
}

#edit-track > *, #add-track-form > *{
    margin: var(--margin);
}

#add-track-form > select{
    background-color: var(--background-color);
    border: 1px var(--main-color);
    padding: var(--padding-main);
    border-radius: var(--radius);
    color: var(--text-color);
}

#login-form button:not(.btn){
    background-color: rgba(0,0,0,0);
    border: 0px;
}

#login-form .btn-menu{
    display: flex;
    flex-direction: row;
}

#create-playlist-btn{
    border-radius: 0;
    transition: 0.3s;
}

#catalogue{
    padding-top: var(--padding-mini);
    background-color: var(--background-color);
}

#upload-track{
    align-items: center;
}

#upload-track a{
    margin-top: calc(var(--margin)/2) ;
}

#upload-track label{
    font-size: 24px;
    font-style: italic;
}

.profile-name{
    font-size: 36px;
    font-style: italic;
}

.image.avatar{
    height: calc(var(--on-page-image-size)*2);
    width: calc(var(--on-page-image-size)*2);
    border-radius: 50%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.grid-col-2{
    display: grid;
    grid-template-columns: minmax(400px, 500px) 1fr;
}

.mr{
    margin: var(--margin);
}

.mr-left{
    margin-left: var(--margin);
}

.mr-top{
    margin-top: var(--margin);
}

.mr-top-bottom{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

#user-grid{
    display: grid;
    grid-template-areas: 
    "image header header header"
    "image tracks artists genres";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 2fr;

    height: max-content;
}

#tracks-chart{
    grid-area: tracks;
}

#artists-chart{
    grid-area: artists;
}

#genres-chart{
    grid-area: genres;
}

#profile-avatar{
    grid-area: image;
}

#tracks-chart > ul, #artists-chart > ul, #genres-chart > ul{
    margin-left: var(--margin);
}

.profile-name{
    grid-area: header;
}

.profile-name > .btn{
    align-self: center;
    font-style: italic;
    margin: var(--margin);
}

#profile-avatar{
    justify-self: center;
}

#playlist-image{
    height: calc(var(--on-page-image-size)*2) ;
    width: calc(var(--on-page-image-size)*2) ;
}

#playlist-title{
    font-size: 32px;
    font-style: italic;
}

.audio-player-btn{
    width: 40px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--additional-color);
    color: var(--accent-color);
    transition: calc(var(--animation-duration) * 2);
}

.audio-player-btn:hover{
    width: 45px;
    height: 45px;
    text-shadow: 1px 1px 1px var(--contrast-shadow);
    border: 1px solid var(--accent-color);
}

.audio-player-btn:active{
    width: 43px;
    height: 43px;
    text-shadow: 1px 1px 1px var(--contrast-shadow);
    opacity: 70%;
}

#track-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#playlist-page{
    justify-content: center;
    width: 100%;
}

#playlist-page > div{
    display: grid;
    grid-template-areas: 
    "img controls"
    "list list";
    grid-template-columns: auto 1fr;
    min-width: 50vw;
}

#playlist-page > img{
    grid-area: img;
}

#track-list{
    grid-area: list;
}

#playlist-controls{
    grid-area: controls;
}

.icon{
    border: none;
    background-color: transparent;
    color: var(--accent-color);
}

.pop-up-form{
    flex-direction: column;
    background-color: var(--background-color);
    padding: var(--padding-main);
    border-radius: var(--radius);
    color: var(--text-color);
}

.pop-up-form > .btn{
    margin: var(--margin);
}

.pop-up-form > *{
    margin: var(--margin);
}

#audio-player{
    background-color: var(--additional-color);
    color: var(--accent-color);
    padding: var(--padding-main);
    margin-top: var(--margin);
    width: max-content;
    border: 1px var(--accent-color) solid;
    border-radius: var(--radius);
}

#audio-duration{
    align-items: center;
}

#audio-player input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    padding: 0;
    margin: var(--margin);
    width: 15rem;
}

input[type="range"]:focus {
  outline: none;
}

#audio-player input[type="range"]::-webkit-slider-runnable-track{
    background-color: var(--background-color);
    border-radius: var(--radius);
    color: var(--background-color);
    height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: grab;
    margin-top: -5px;
    height: 1rem;
    width: 1rem;
    border: 1px var(--accent-color) solid;
    border-radius: 50%;
    background-color: var(--support-color);
}

input[type="range"]::-webkit-slider-thumb:active{
    cursor: grabbing;
    outline: 1px solid var(--accent-color);
    outline-offset: 1px;
}

.hidden{
    display: none;
}