<script src="../public/scripts/playlist-contextmenu.js"></script>

<ul id="playlist-menu" class='custom-menu' value="">
    <li id="play-pl-opt" data-action="play">Play</li>
    <li id="download-pl-opt" data-action="download">Download</li>
    <li id="save-pl-opt" class="hidden" data-action="save">Save</li>
    <li id="delete-pl-opt" class="hidden" data-action="delete">Delete</li>
</ul>