<script src="../public/scripts/track-contextmenu.js"> </script>

<ul id="track-menu" class='custom-menu' value="">
    <li id="play-tr-opt" data-action="play">Play</li>
    <li id="download-tr-opt" data-action="download">Download</li>
    <li id="like-tr-opt" class="hidden" data-action="like">Like</li>
    <li id="delete-tr-opt" class="hidden" data-action="delete">Delete</li>
</ul>