<ul id="filters">
    <li value="uploaded-tr" class="filter-btn">Uploaded Tracks</li>
    <li value="liked-tr" class="filter-btn">Liked Tracks</li>
    <li value="created-pl" class="filter-btn">Created Playlists</li>
    <li value="saved-pl" class="filter-btn">Saved Playlists</li>
</ul>

<script type="module" src="../public/scripts/catalogue-filters.js">
</script>