<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>

    <div id="403-error">
        <h2>403 - Access Denied</h2>
        <p>Invalid Cridentials</p>
    </div>
</body>