<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('components/header') %>

    <label for="track_list"><%=playlist.title%></label>
    <ul>
        <% for(let track of tracks){%>
            <li><a href="../tracks/<%=track.id%>"><%=[track.title, track.artists, track.genre]%></a></li>
        <%};%>
    </ul>
</body>
</html>