<%- include('components/html-head') %>
<body>
    <form method="POST" action="/sign-up">
        <label for="username">username</label>
        <input name="username" type="text">

        <label for="email">email</label>
        <input name="email" type="text">

        <label for="password">password</label>
        <input name="password" type="text">

        <button type="submit">Log In</button>
    </form>
</body>
</html>