<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('components/header') %>

    <form method="POST" action="/tracks/upload" enctype="multipart/form-data">
        <label for="title">
            <p>Title</p>
            <p></p>
        </label>
        <input name="title" type="text">

        <label for="genre">
            <p>Genre</p>
            <p></p>
        </label>
        <input name="genre" type="text">

        <label for="artists">
            <p>Artists</p>
            <p></p>
        </label>
        <input name="artists" type="text">

        <label for="audio_file">
            <p>Audio file</p>
            <p></p>
        </label>
        <input name="audio_file" type="file">

        <label for="image_file">
            <p>Track Image (if any)</p>
            <p></p>
        </label>
        <input name="image_file" type="file">

        <br>

        <button type="submit">Upload</button>
    </form>

    <a href="/">Cancel</a>

</body>
</html>