<% if(search === true){ %>
    <ul id="filters">
        <li value="tracks" class="filter-btn">Tracks</li>
        <li value="playlists" class="filter-btn">Playlists</li>
        <li value="profiles" class="filter-btn">Profiles</li>
        <li value="artists" class="filter-btn">Artists</li>
        <li value="genres" class="filter-btn">Genres</li>
    </ul>
    
    <script type="module" src="../public/scripts/filters.js">
        
    </script>
<% }; %>