<header>
    <div class="logo yellowtail-regular .header-box">
        RythmFlow
    </div>

    <div class=".header-box">
        <%- include('./search/search') %>
    </div>
    
    
    <div class=".header-box">
        <a href="/">Hub</a>
        <a href="/catalogue">Gatalogue</a>
        <a href="/tracks/upload">Upload</a>

        <% if(loggedIn){%>
            <a href="/account">Account</a>
            <button id="logout" class="btn">Log Out</button>
        <%} else{%>
            <a href="/login">Log In</a>
            <a href="/sign-up">Sign Up</a>
        <%};%>
    </div>
</header>